<div class="tags">
  <span>Title: <strong><%= image.title %></strong></span> |
  <span><%= link_to 'Image Link', image.link, :target => '_blank' %></span> |
  <span>Tags: </span>
  <% image.tag_list.each do |tag| %>
    <span> <%= link_to content_tag(:strong, "#{tag}", class:['js-tag-class']), images_path(tag: tag) %></span>
  <% end %> |
  <span><%= link_to 'Delete', image_path(image), method: :delete, data: {confirm: "Are you sure to delete image with id #{image.id}"}%></span>
</div>
